/**
 *
 * Apply your custom CSS here
 *
*/

body {
}

a {
}
.form-inline .form-group{
        width: 25%;
        margin-left: 30px;
        margin-bottom: 22px;
}
.form-group label{
        margin-left: 7px;
        color: #6C6B6B;
        font-weight: bold;
}
.form-control{
        width: 100% !important;
}

.error label{
        color: rgb(209, 113, 72) !important;
}
.error input::-webkit-input-placeholder {
        color: rgb(209, 113, 72);
}
.error input{
        border: 1px solid rgb(209, 113, 72);
}

table{
        font-size: 14px;
        text-align: center;
}
.linker{
        color: #979898;
        padding-left: 0px;
        padding-top: 0px;
        margin-bottom: -7px;
}
